<ion-view view-title="Browse">
  <ion-content>
  <ion-slide-box>
  <ion-slide>
    <div class="PicsOfNews"><a ui-sref="app.article"><img src="img/1.jpg"><h3>Your Apple Watch is late because of bad haptic feedback parts.</h3></a></div>
  </ion-slide>
  <ion-slide>
    <div class="PicsOfNews"><a ui-sref="app.article"><img src="img/2.jpg"><h3>2015 Apple iPhone 6s and iPhone 6s Plus rumor round-up: specs, features, price and release date.</h3></a></div>
  </ion-slide>
  <ion-slide>
    <div class="PicsOfNews"><a ui-sref="app.article"><img src="img/3.jpg"><h3>Microsoft's HoloLens is new, improved, and still has big problems</h3>Can deliver amazing illusions, but only on a small scale.</a></div>
  </ion-slide>
</ion-slide-box>

  <div class="list card">
      <div class="item item-divider">Breaking News</div>
      <div class="item item-body">
        <div>
          Verizon to Buy AOL for $4.4 Billion in Cash!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Recent News</div>
      <div class="item item-body">
        <div>
          <h2>Your Apple Watch is late because of bad haptic feedback parts.</h2>
          Wondering why your Apple Watch won't ship for weeks, even though you ordered as soon as humanly possible? The Wall Street Journal might know why. Its sources claim that some Taptic Engines (the haptic feedback unit that vibrates your wrist) broke down in early testing, prompting Cupertino to switch suppliers and create a massive-but-necessary logistical headache.
        </div>
        <hr>
        <div>
          <h2>Hillary Clinton wants all police to wear body cameras.</h2>
          Hillary Clinton at an April 29th speech Police body cameras might just represent a big talking point in next year's US elections. Presidential candidate Hillary Clinton tells those at a policy forum that she wants "every department" to issue the wearables to their officers.
        </div>
        <hr>
        <div>
        	<h2>2015 Apple iPhone 6s and iPhone 6s Plus rumor</h2>
        	>More capable, 12-megapixel camera, and maybe, 4K video.
        	</br>
        	>Force Touch.
        	</br>
        	>Apple A9 expected to make the jump to 14nm, and - finally - an iPhone is coming with 2GB of RAM.
        	</br>
        	>Improved design: sturdier, 7000 series aluminum, and a rose gold option.
        	</br>
        	>Apple iOS 9: the big launch for Beats.
    		  </br>
    		  >Apple iPhone 6s and 6s Plus announcement should happen on Tuesday, September 8th with a release date on Friday, September 18th.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>